<section>
    <div class="space-80"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 pull-right">
                <h4><%= field%> books</h4>
                <div class="space-30"></div>
                <div class="row">
                    <div class="pull-left col-xs-12 col-sm-5 col-md-6">
                        <p>Books in <%= field%></p>
                    </div>
                    <div class="pull-right col-xs-12 col-sm-7 col-md-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="sort">Sort By : </label>
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <select name="sort" id="sort" class="form-control">
                                            <option value="">Best Match</option>
                                            <option value="">Best Book</option>
                                            <option value="">Latest Book</option>
                                            <option value="">Old Book</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="space-20"></div>
                <div class="row ajax-book-content">
                    <% section.item.data.forEach(function (book) { %>
                    <div class="col-xs-12 col-md-6">
                        <div class="category-item well yellow">
                            <div class="media">
                                <div class="media-left">
                                    <% if (book.image !== null) { %>
                                    <img src="<%= book.image.web.thumbnail_path %>" class="media-object" alt="">
                                    <% } else { %>
                                    <img src="/images/book_thumb_default.jpg" class="media-object" alt="">
                                    <% } %>
                                </div>
                                <div class="media-body">
                                    <h5><%= (book.title.length > 20) ? book.title.substring(0, 20) + ' ...' : book.title %></h5>
                                    <h6>By <%= book.author %></h6>
                                    <div class="space-10"></div>
                                    <ul class="list-inline list-unstyled rating-star">
                                        <li class="active"><i class="icofont icofont-star"></i></li>
                                        <strong><%= book.avg_star %> / <%= configs.default_book_star %></strong>
                                    </ul>
                                    <div class="space-10"></div>
                                    <p>
                                        <%= book.overview %>
                                    </p>
                                    <a href="/books/<%= book.id%>" class="text-primary">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <div class="space-60"></div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a href="javascript:void(0)" class="btn btn-warning btn-xs btn-loadmore-book" data-field="<%= field %>" data-next-page="<%= section.item.next_page %>">More</a>
                    </div>
                </div>
            </div>
            <!-- Sidebar-Start -->
            <div class="col-xs-12 col-md-2">
                <aside>
                    <h3><i class="icofont icofont-filter"></i> Filter By</h3>
                    <div class="space-30"></div>
                    <div class="sigle-sidebar">
                        <h4>Category</h4>
                        <hr>
                        <ul class="list-unstyled menu-tip">
                            <% categories.items.forEach(function (category) {%>
                            <li><a href="#"><%= category.name %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="space-20"></div>
                    <div class="sigle-sidebar">
                        <h4>Rating</h4>
                        <hr>
                        <ul class="list-inline list-unstyled rating-star">
                            <li class="active"><i class="icofont icofont-star"></i></li>
                            <li class="active"><i class="icofont icofont-star"></i></li>
                            <li class="active"><i class="icofont icofont-star"></i></li>
                            <li class="active"><i class="icofont icofont-star"></i></li>
                            <li class="active"><i class="icofont icofont-star"></i></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <!-- Sidebar-End -->
        </div>
    </div>
    <div class="space-80"></div>
</section>

<%- contentFor('appjs') %>
<script src="/javascripts/books/book.js" type="text/javascript"></script>
<script type="text/javascript">
    $('.btn-loadmore-book').on('click', function () {
        var nextPage = $(this).attr('data-next-page');
        var field = $(this).attr('data-field');
        Book.loadMoreAtSectionPage(field, nextPage);
    });
</script>
