<% data.items.forEach(function (section) { %>
<!--Begin section-->
<section>
    <div class="space-40"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                <h2><strong><%= section.title %></strong></h2>
                <div class="title-bar blue">
                    <ul class="list-inline list-unstyled">
                        <li><i class="icofont icofont-square"></i></li>
                        <li><i class="icofont icofont-square"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space-20"></div>
        <div class="row">
            <% if (section.data.length > 0 ) { %>
            <% section.data.forEach(function (book, index) { %>
            <div class="col-xs-12 col-md-6 wow fadeInLeft" data-wow-delay="0.<%= index + 1%>s">
                <div class="category-item well yellow">
                    <div class="media">
                        <div class="media-left">
                            <img src="<%= book.image.thumb_path %>" class="media-object" alt="">
                        </div>
                        <div class="media-body">
                            <h5 title="<%= book.title %>"><%= (book.title.length > 20) ? book.title.substring(0, 20) + ' ...' : book.title %></h5>
                            <h6>By <%= book.author %></h6>
                            <div class="space-10"></div>
                            <ul class="list-inline list-unstyled rating-star">
                                <li class="active"><i class="icofont icofont-star"></i></li>
                                <strong><%= book.avg_star %> / 10</strong>
                            </ul>
                            <div class="space-10"></div>
                            <p>
                                <%= book.overview %>
                            </p>
                            <a href="/books/<%= book.id %>" class="text-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
            <% } else { %>
                <h5 class="text-center">No book in section </h5>
            <% } %>
        </div>
        <div class="space-20"></div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/books/?field=<%= section.key %>&page=1" class="btn btn-warning btn-xs">More</a>
            </div>
        </div>
        <div class="space-40"></div>
    </div>
</section>
<!--End section-->
<% }) %>
