<% data.items.forEach(function (section) { %>
<!--Begin section-->
<section>
    <div class="space-40"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                <!--<h2>Our <strong>Category</strong></h2>-->
                <h2><%= section.title %></h2>
                <div class="title-bar blue">
                    <ul class="list-inline list-unstyled">
                        <li><i class="icofont icofont-square"></i></li>
                        <li><i class="icofont icofont-square"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space-20"></div>
        <div class="row">
            <% section.data.forEach(function (book) {%>
            <div class="col-xs-12 col-md-4 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="category-item well yellow">
                    <div class="media">
                        <div class="media-left">
                            <img src="images/book/book-xs-1.jpg" class="media-object" alt="">
                        </div>
                        <div class="media-body">
                            <h5><%= (book.title.length > 30) ? book.title.substring(0, 30) + ' ...' : book.title %></h5>
                            <h6>By <%= book.author %></h6>
                            <div class="space-10"></div>
                            <ul class="list-inline list-unstyled rating-star">
                                <% if (book.avg_star > 0) { %>
                                    <% for (var i=1; i < book.avg_star; i++) {%>
                                    <li class="active"><i class="icofont icofont-star"></i></li>
                                    <% }%>
                                <% } else {%>
                                    <li><i class="icofont icofont-star"></i></li>
                                <% }%>
                            </ul>
                            <div class="space-10"></div>
                            <p>
                                <%= book.description.length > 70 ?
                                        book.description.substring(0, 70) + ' ...' :
                                        book.description
                                %>
                            </p>
                            <a href="/books/<%= book.id%>" class="text-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <div class="space-20"></div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/books/?field=<%= section.key %>&page=1" class="btn btn-info btn-xs">More</a>
            </div>
        </div>
        <div class="space-40"></div>
    </div>
</section>
<!--End section-->
<% }) %>
