<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= typeof pageTitle !== 'undefined' ? pageTitle + ' - FBook' : 'FBook - Framgia' %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />

    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/icofont.css">
    <link rel="stylesheet" href="/bower/animate.css/animate.min.css">
    <link rel="stylesheet" href="/bower/cardslider/dist/css/cardslider.css">
    <link rel="stylesheet" href="/bower/ResponsiveSlides/responsiveslides.css">

    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/overright.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/bower/modernizr/modernizr.js"></script>
</head>

<body data-spy="scroll" data-target="#mainmenu" data-offset="50">

<!--Begin header-->
<%- include header.ejs %>
<!--End header-->

<%- body %>

<!--Begin footer-->
<%- include footer.ejs %>
<!--End footer-->

<!-- Vendor-JS -->
<script src="/bower/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    var API_PATH = "<%= configs.api_base_url %>";
    $.fn.andSelf = function() {
        return this.addBack.apply(this, arguments);
    }
</script>
<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Plugin-JS -->
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/bower/ResponsiveSlides/responsiveslides.min.js"></script>
<script src="/bower/cardslider/dist/js/jquery.cardslider.min.js"></script>
<script src="/bower/twbs-pagination/jquery.twbsPagination.min.js"></script>
<script src="/bower/scrollup/dist/jquery.scrollUp.min.js"></script>
<script src="/bower/wow/dist/wow.min.js"></script>
<script src="/javascripts/plugins.js"></script>
<!-- Active-JS -->
<script src="/javascripts/main.js"></script>
<script src="/javascripts/books/search.js" type="text/javascript"></script>
<script src="/bower/jquery-validation/dist/jquery.validate.min.js"></script>

<% if(locals.appjs) { %>
<%- appjs %>
<% }%>

</body>

</html>
